//Fonts===========================================================================================================================================================================================================================================================================
@import './fonts.scss';

//IconFonts==============================================================================================================================================================================================================================================================================
@import './base/icons.scss';

//DefaultFonts==============================================================================================================================================================================================================================================================================
$fontFamily: 'Poppins';
$fontSize: 14px;

// MainColors
:root {
   --black: #000000;
   --white: #ffffff;
   --main-bg: #fafbff;
   --gray-text: #9197b3;
   --black-text: #292d32;
}
$mainColor: var(--black);

//NULL========================================================================================================================================================
@import './base/null.scss';
//========================================================================================================================================================

//BODY============================================================================================================================================================================================================================================================================================================================================================================================
body {
}
// Оболочка wrapper ============================================================================================================================================================================================================================================================================================================================================================================================================================================
.wrapper {
   background-color: var(--main-bg);
   letter-spacing: -0.01em;
   font-weight: 500;
   min-height: 100%;
}
//Containers========================================================================================================================================================
[class*='__container'] {
   max-width: 1430px;
   padding: 0px 15px;
   margin: 0 auto;
   height: 100%;
}

//Common========================================================================================================================================================
@import './ui/common.scss';
//Components========================================================================================================================================================
@import './components/header.scss';
//Pages========================================================================================================================================================
@import './home.scss';
